<svg:circle *ngIf=shape.showShapeSelector appToggleShapeSelector [shape]="shape" [activationType]="surroundingBubbleActivationType"
    [attr.cx]="shape.x" [attr.cy]="shape.y" [attr.r]="shape.radius + shapeSelectorAdditionalDistance" 
    [attr.stroke]="shape.strokeColour"  [attr.stroke-width]="1" [attr.fill-opacity]="0.0" />

<svg:circle flowDragAndDrop appToggleShapeSelector [shape]="shape" [activationType]="shapeActivationType"
    [attr.cx]="shape.x" [attr.cy]="shape.y" [attr.r]="shape.radius" [attr.stroke]="shape.strokeColour" 
    [attr.stroke-width]="shape.strokeWidth" [attr.fill]="shape.fillColour" />
