<!-- Surrounding area of shape for detecting mouse movement to trigger offering new connected shapes -->
<svg:circle *ngIf=shape.showShapeSelector 
    appToggleShapeSelectorStatus [shape]="shape" [activationType]="ShapeSelectorStatusFlags.InSurroundingBubble"
    [attr.cx]="shape.x" [attr.cy]="shape.y" [attr.r]="shape.radius + shapeSelectorAdditionalDistance" 
    [attr.stroke]="shape.strokeColour"  [attr.stroke-width]="0" [attr.fill-opacity]="0.0" 
    (click)="userClick()"/> <!-- Set stroke-width to 1 if debugging mouse in shape selector circle -->

<svg:circle *ngIf="!isPotentialShape" flowDragAndDrop 
    appToggleShapeSelectorStatus [shape]="shape" [activationType]="ShapeSelectorStatusFlags.InShape"
    [attr.cx]="shape.x" [attr.cy]="shape.y" [attr.r]="shape.radius" [attr.stroke]="shape.strokeColour" 
    [attr.stroke-width]="Shape.strokeWidth" [attr.fill]="shape.fillColour" />

<!-- If a potential shape then show slightly differently -->
<svg:circle *ngIf="isPotentialShape" 
    [attr.cx]="shape.x" [attr.cy]="shape.y" [attr.r]="shape.radius" [attr.stroke]="'grey'" 
    [attr.stroke-width]="Shape.strokeWidth" [attr.fill]="'lightgrey'"/>
