<svg:g class="fade-in">
  <svg:polygon [attr.points]="points" [attr.transform]="topSelectorTransform" style="fill:lime;stroke:purple;stroke-width:1"
      appToggleShapeSelectorStatus [shape]="shape" [activationType]="shapeSelectorActivationType"/>
  
  <svg:polygon [attr.points]="points" [attr.transform]="rightSelectorTransform" style="fill:lime;stroke:purple;stroke-width:1"
      appToggleShapeSelectorStatus [shape]="shape" [activationType]="shapeSelectorActivationType"/>
  
  <svg:polygon [attr.points]="points" [attr.transform]="bottomSelectorTransform" style="fill:lime;stroke:purple;stroke-width:1"
      appToggleShapeSelectorStatus [shape]="shape" [activationType]="shapeSelectorActivationType"/>
  
  <svg:polygon [attr.points]="points" [attr.transform]="leftSelectorTransform" style="fill:lime;stroke:purple;stroke-width:1"
      appToggleShapeSelectorStatus [shape]="shape" [activationType]="shapeSelectorActivationType"/>
</svg:g>
